<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Edit Schedule</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">
            <div class="content">
                {{>messages}}
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Schedule</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/doctors/edit-schedule/{{id}}?_method=PATCH" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
										<label>Doctor Name</label>
                                        <input  class="form-control" type="text" name="name" value={{name}} disabled>
									</div>
                                </div>
                                <div class="col-md-6">
									<div class="form-group">
										<label>Available Days</label>
										<select class="select" multiple name="availableDays">
											<option>Select Days</option>
											<option
                                                {{#if_includes availableDays 'Sunday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Sunday</option>
											<option
                                              {{#if_includes availableDays 'Monday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Monday</option>
											<option
                                              {{#if_includes availableDays 'Tuesday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Tuesday</option>
											<option
                                              {{#if_includes availableDays 'Wednesday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Wednesday</option>
											<option
                                            {{#if_includes availableDays 'Thursday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Thursday</option>
											<option
                                            {{#if_includes availableDays 'Friday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Friday</option>
											<option
                                            {{#if_includes availableDays 'Saturday'}}
                                                    selected
                                                {{/if_includes}}
                                            >Saturday</option>
										</select>
									</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class="time-icon">
                                            <input type="text" class="form-control" id="datetimepicker3" name="availableFrom"
                                            {{#if availableFrom}}
                                                value="{{availableFrom}}"
                                            {{/if}}
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="time-icon">
                                            <input type="text" class="form-control" id="datetimepicker4" name="availableTill"
                                             {{#if availableTill}}
                                                value="{{availableTill}}"
                                            {{/if}}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Edit Schedule</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
		 </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
				$('#datetimepicker4').datetimepicker({
                    format: 'LT'
                });
            });
     </script>
</body>

</html>
