<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/assets/css/weekDays.css">
</head>
<body>
   
</body>
</html>
<form action="/test" method="post">
<div class="weekDays-selector">
  <input type="checkbox" id="weekday-mon" class="weekday" value="Mon" name="Days"  />
  <label for="weekday-mon">M</label>
  <input type="checkbox" id="weekday-tue" class="weekday" value="Tues" name="Days" />
  <label for="weekday-tue">T</label>
  <input type="checkbox" id="weekday-wed" class="weekday"value="Wed" name="Days"/>
  <label for="weekday-wed">W</label>
  <input type="checkbox" id="weekday-thu" class="weekday" value="Thurs" name="Days" />
  <label for="weekday-thu">T</label>
  <input type="checkbox" id="weekday-fri" class="weekday"value="Fri" name="Days"/>
  <label for="weekday-fri">F</label>
  <input type="checkbox" id="weekday-sat" class="weekday" value="Sat"name="Days"/>
  <label for="weekday-sat">S</label>
  <input type="checkbox" id="weekday-sun" class="weekday" value="Sun" name="Days"/>
  <label for="weekday-sun">S</label>
</div>
<button type="submit">SUB </button>
</form>