<!DOCTYPE html>
<html lang="en">


<!-- edit-department24:07-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Edit Department</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">
       {{>header}}
        <div class="page-wrapper">
            <div class="content">
                {{>messages}}
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Department</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form action="/departments/{{Dept._id}}?_method=PATCH" method="POST">
							<div class="form-group">
								<label>Department Name</label>
								<input class="form-control" type="text" value="{{Dept.name}}" name="name">
							</div>
                              <div class="form-group">
                                <label class="display-block">Status<span class="text-danger">*</span></label>
								<div class=" form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_active" value="active" checked>
									<label class="form-check-label" for="product_active">
								    Active
									</label>
								</div>
								<div class="form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_inactive" value="inactive" 
                                     {{#if_eq Dept.status 'inactive'}}
                                        checked
                                    {{/if_eq}}>
									<label class="form-check-label" for="product_inactive">
									Inactive
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- edit-department24:07-->
</html>
